body {
	font-family: 'Open Sans', sans-serif;

	background-color: #f5f9fc;
	padding-top: 100px;
	
	padding: 50px;

	main {
		max-width: 1000px;
		margin: 0 auto;
		height: fit-content;
	}

	h1 {
		font-weight: 300;
	}

	.results {
		color: #7a92a5;
		font-size: 12px;
		margin: 12px 5px;
	}

	.results-container {
		display: flex;
		flex-wrap: nowrap;
	}

	.header-container {
		display: flex;
		flex-wrap: nowrap;
		align-items: baseline;

		h5 {
			flex-grow: 8;
		}
		a {
			flex-grow: 2;
		}
	}

	header {
		width: 100%;
		flex-shrink: 0;
		border-radius: 6px;
		background-color: #fff;
		box-shadow: 0 2px 6px 1px #e1e5e8;
		margin-bottom: 14px;
		display: flex;
		flex-direction: column;
		border: 1px solid #fff;
		padding: 10px 20px;
		position: relative;

		input {
			width: 100%;
			text-overflow: ellipsis;
			display: inline-block;
			color: #20455e;
			font-size: 14px;
			outline: 0;
			transition: border .1s ease;
			resize: none;
			border: 1px solid #b6c1cd;
			border: none;

			&::placeholder  {
				color: #b6c1cd;
			}
		}
	}

	.Top_button-show{
		display: none;
		position: fixed; /* Fixed/sticky position */
		bottom: 20px; /* Place the button at the bottom of the page */
		right: 30px; /* Place the button 30px from the right */
		z-index: 99; /* Make sure it does not overlap */
		border: none; /* Remove borders */
		outline: none; /* Remove outline */
		background-color: red; /* Set a background color */
		color: white; /* Text color */
		cursor: pointer; /* Add a mouse pointer on hover */
		padding: 15px; /* Some padding */
		border-radius: 10px; /* Rounded corners */
		font-size: 18px; /* Increase font size */
		&:hover
		{
			background-color: #555; /* Add a dark-grey background on hover */

		}
	}

	a {
		color: #3899ec;
		cursor: pointer;
		font-weight: 500;
		font-size: 12px;
	}
	.hide{
		//color: white;
		visibility: hidden;
		cursor: pointer;
		font-weight: 900;
		font-size: 14px;
		left: 90%;
		bottom: 90%;

	}

	div:hover +.ticket, .ticket:hover {
		.hide {
			color: #3899ec;
			visibility: visible;
		}
	}

	.tickets {

		margin: 0;
		padding: 0;

		.ticket {
			width: 100%;
			flex-shrink: 0;
			border-radius: 8px;
			background-color: #fff;
			box-shadow: 0 2px 6px 1px #e1e5e8;
			margin-bottom: 14px;
			display: flex;
			flex-direction: column;
			border: 1px solid #fff;
			padding: 10px 20px;
			transition: box-shadow .2s ease-in-out;
			position: relative;
			z-index:98;

			&:hover {
				box-shadow: 0 2px 6px 1px #d3d7da;
			}


			.title {
				margin: 15px 0;
				font-size: 16px;
				font-weight: bold;
				font-style: normal;
				color: #20455e;
				padding-bottom: 2px;
			}

			.problemText {
				margin: 15px 0 ;
				font-size: 16px;
				font-weight: 400;
				font-style: normal;
				color: #20455e;
				background-color:#fff ;
				padding-top: 0px;
				position: relative;
				word-break: break-all;
				padding-bottom: 0;

			}

			.problemText-less {
				margin: 15px 0 ;
				font-size: 16px;
				font-weight: 400;
				font-style: normal;
				color: #20455e;
				background-color:#fff ;
				padding-top: 0px;
				padding-bottom: 0;
				position: relative;
				word-break: break-all;

				overflow: hidden;
				text-overflow: ellipsis;
				line-height: 16px;
				height: 50px;
				word-wrap: break-word;
			}
			.problem-text-show-button {
				margin-left: 50px;
			}

			.boxed
			{
				font-size: 11px;
				font-weight: bold;
				color: #225174;
				background-color:#d9f0fe ;
				border-radius: 10px;
				padding: 6px;
				margin-left: 3px;
				margin-right: 3px;
				position: relative;
				text-align: center;
				height: fit-content;

			}


			.see-more-link{
				color: cadetblue;
				letter-spacing: 1px;
				cursor: pointer;
				alignment: left;
				padding-top: 14px;
			}
			
			.boxed-container {

				display:flex;
				position: relative;
				flex-flow: nowrap;
				justify-content: space-between;
				flex-direction: row-reverse;


				.meta-data {
					color: #7a92a5;
					font-size: 12px;
					margin: 10px 0;
					flex-shrink: 0;
					align-self: flex-start;
					flex-grow: 10;
				}

				.boxed {
					flex-grow: 1;
					justify-self: flex-end;
				}

			}
			.comment_button
			{
				font-size: 14px;
				font-weight: bold;
				color: #225174;
				background-color:#d9f0fe ;
				border-radius: 10px;
				padding: 6px;
				margin-left: 3px;
				margin-right:0px;
				position: center;
				text-align: center;
				height: fit-content;
				justify-self: center;
				align-content: center;

			}

			
		}
	}
}
